<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Warn" internalLogFile="logs/nlog.log">
  <targets>
    <!--输出到数据库-->
    <!--<target name="Database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="server=localhost;database=mynetcore;user=root;password=123456;">
      <commandText>
        insert into logs (date,level,message) values(@longdate,@level,@message);
      </commandText>
      <parameter name="@longdate" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
    </target>-->
    <target xsi:type="File" name="File" fileName="Logs/log.txt" layout="${longdate} | ${logger} | ${uppercase:${level}} | ${message} ${exception}" encoding="UTF-8"/>
    <!--输出到普通控制台-->
    <target name="Console" xsi:type="ColoredConsole" layout="${uppercase:${level}}：${longdate} | ${logger} | ${uppercase:${level}} | ${message} ${exception}">
    </target>
    
    <target name="logdebug" xsi:type="Debug" layout="${uppercase:${level}}：${longdate} | ${logger} | ${uppercase:${level}} | ${message} ${exception}">
    </target>
  </targets>
  <rules>
    <!--跳过所有Info级别以下的Microsoft组件的日志记录-->
    <logger name="Microsoft.*" minlevel="Info" final="true" />
    <!--注意这里的name="*"，如果这里的name=xx了那么在C#的后台.cs文件使用日志的时候必须把xx当做参数来传递，否则没有日志输出-->
    <!--<logger name="*" minlevel="Info" writeTo="Database" />-->
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Debug" writeTo="File" />
    <logger name="*" minlevel="Debug" writeTo="logdebug" />
  </rules>
</nlog>
